h1 {
margin-left: 10px;
margin-bottom: 40px;
}
.trans_bg {display: block;
    background-color: var(--trans_hvid);
}
.bg_box {
    background-color: var(--bg_color);
    margin: 20px;
    padding: 20px;
}
.flex_r{
    display: flex;

}
.max_460{
    max-width: 460px;
}
p, h2, h3 {
    margin-left: 20px;
    margin-bottom: 20px;
}
#personlig_hilsen {
    display: block;
    min-width: 300px;
    min-height: 40px;
}
*{
    margin: 0;
}
@media (width >= 600px) {
    body {
        max-width: 1000px;
    }
    .grid_2-1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}