/* Hamburger menu baseret på denne tutorial: https://www.youtube.com/watch?v=aNDqzlAKmZc */

/* Her begynder Header CSS. */

.headerIcons,
.headerLinks {
  display: none;
}

.headerIcons_2 {
  display: flex;
  margin-right: auto;
  position: relative;
  margin-left: 1rem;
  gap: 1rem;
}

.headerIcons_2 img {
  padding-top: 1rem;
  height: 22px;
  width: 22px;
}

.offScreenMenu {
  background-color: var(--mork_brun);
  height: 100vh;
  width: 100%;
  max-width: 800px;
  position: fixed;
  top: 0;
  right: -800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s ease;
  z-index: 2;
}

.offScreenMenu.active {
  right: 0;
}

nav {
  padding: 0.5 1em;
  display: flex;
  background-color: var(--bg_color);
}

.hamburgerMenu {
  height: 2rem;
  width: 2rem;
  margin-left: auto;
  position: relative;
  margin-right: 1rem;
}

.hamburgerMenu span {
  height: 3px;
  width: 100%;
  background-color: var(--mork_brun);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 3;
  margin-top: 0.5rem;
}

.hamburgerMenu.active {
  background-color: var(--mork_brun);
}

.hamburgerMenu span:nth-child(1) {
  top: 25%;
}

.hamburgerMenu span:nth-child(3) {
  top: 75%;
}

.hamburgerMenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--bg_color);
}

.hamburgerMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamburgerMenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--bg_color);
}

.offScreenMenu ul {
  list-style: none;
  font-family: worksans_m;
  font-size: 28px;
  background-color: var(--mork_brun);
  z-index: 3;
}

.offScreenMenu ul li a,
.offScreenMenu ul li {
  text-decoration: none;
  color: #f9f7f0;
  background-color: var(--mork_brun);
  padding: 0.5rem;
  z-index: 3;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: var(--bg_color);
}

.headerLogo img {
  max-height: 2rem;
  padding-bottom: 2rem;
}

@media (width >= 600px) {
  header {
    background-color: var(--bg_color);
  }

  .hamburgerMenu,
  .offScreenMenu {
    display: none;
  }

  .headerIcons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin: 0;
  }

  .headerIcons_2 {
    display: none;
  }

  .leftHeaderIcons a img,
  .rightHeaderIcons a img {
    display: flex;
    height: 1.5rem;
  }

  .leftHeaderIcons,
  .rightHeaderIcons {
    display: flex;
    gap: 2rem;
    padding: 0;
  }

  .leftHeaderIcons {
    justify-content: flex-start;
  }

  .rightHeaderIcons {
    justify-content: flex-end;
  }

  .headerLogo img {
    max-height: 4em;
  }

  .headerLinks {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem 8rem 1rem;
    gap: 3rem;
  }

  nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font: 1em "worksans_m";
    color: var(--mork_brun);
  }
}

/* Her slutter Header CSS. */

/* Her begynder Footer CSS. */

footer,
footer div,
footer div p {
  background-color: var(--bg_color);
}

.footerInformation ul,
.footerInformation a,
.footerKontakt ul,
.footerKontakt a {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0.5rem;
  font-family: worksans_r;
  color: var(--mork_brun);
  font-size: 18px;
}

.footerInformation ul li,
.footerKontakt ul li {
  padding-bottom: 1rem;
}

.footerInformation h4,
.footerKontakt h4 {
  font-family: CorGar;
  font-size: 28px;
  color: var(--mork_brun);
  padding-left: 1rem;
}

.footerSignatur img {
  display: none;
}

.footerContainer_1 {
  padding-top: 0.5rem;
}

.footerContainer_2 {
  margin-top: 2em;
}

.footerCopyright {
  font-family: worksans_r;
  color: var(--mork_brun);
  font-size: 14px;
  padding-left: 1rem;
  text-align: center;
}

.footerBetalingsmetoder {
  justify-content: center;
  text-align: center;
}

.footerBetalingsmetoder img {
  max-height: 30px;
}

@media (width >= 600px) {
  .footerContainer_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding-left: 1em;
  }

  .footerInformation ul li:not(:last-child),
  .footerKontakt ul li:not(:last-child) {
    padding: 0 0 1em 0;
  }

  .footerInformation h4,
  .footerKontakt h4 {
    font-size: var(--36);
    color: var(--mork_brun);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footerInformation a,
  .footerKontakt a {
    font-size: 18px;
  }

  .footerSignatur {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .footerSignatur img {
    display: flex;
    max-height: 100px;
  }

  .footerContainer_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 1em;
  }

  .footerCopyright {
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
  }

  .footerBetalingsmetoder {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    padding-right: 1em;
  }

  .footerBetalingsmetoder img {
    display: inline-block;
  }
}

/* Her slutter Footer CSS. */

/* Kopier ikke main-delen, den er kun med fordi header og footers bredde er nødt til at have et fundament at læne sig opad for at vises korrekt. */

main {
  width: 100%;
  min-width: 200px;
  background-color: var(--bg_color);
}
