:root {
/*Farver*/
--stovet_blaa: #C5D0D2;
--stovet_lilla: #D6C0BC;
--off-white: #FBF7F0;
--mork_brun: #522A13;
--hvid: #FFFFFF;
--trans_hvid:#ffffff76;
--guld: #BD8F2C;
--gb_color: #F3EEE1 ;


/*tekst størrelse*/
--96_CG: 96px;
--48: 48px;
--36: 36px;
--18: 18px;
}
@font-face {
font-family: CorGar;
src: url(../fonts/CormorantGaramond-Bold.ttf)
}
@font-face {
    font-family: worksans_b;
    src: url(../fonts/WorkSans-Bold.ttf);
}
@font-face {
    font-family: worksans_m;
    src: url(../fonts/WorkSans-Medium.ttf);
}
@font-face {
    font-family: worksans_r;
    src: url(../fonts/WorkSans-Regular.ttf);
}
*
html, body {height: 100%;}
        html {display: table;
        margin: auto;}
        body {display: table-cell;
        vertical-align: middle;
    max-width: 600px;
background-color: var(--gb_color);}

@media (width >= 600px) {
    body {
        max-width: 1000px;
    }}