:root {
  /*Farver*/
  --mork_brun: #522a13;
  --hvid: #ffffff;
  --trans_hvid: #ffffff76;
  --guld: #bd8f2c;
  --bg_color: #f3eee1;

  /*tekst størrelse*/
  --h96_CG: 40px;
  --h48: 26px;
  --h36: 20px;
  --h18: 16px;
}
@font-face {
  font-family: CorGar;
  src: url(../fonts/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: worksans_b;
  src: url(../fonts/WorkSans-Bold.ttf);
}
@font-face {
  font-family: worksans_m;
  src: url(../fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: worksans_r;
  src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: worksans_l;
  src: url(../fonts/WorkSans-LightItalic.ttf);
}
* h1 {
  font-family: CorGar;
  font-size: var(--h96_CG);
  color: var(--mork_brun);
}
h2 {
  font-family: worksans_m;
  font-size: var(--h48);
  color: var(--mork_brun);
}
h3 {
  font-family: worksans_m;
  font-size: var(--h36);
  color: var(--mork_brun);
}
p {
  font-family: worksans_r;
  font-size: var(--h18);
  color: var(--mork_brun);
}
html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  max-width: 600px;
  background-color: var(--bg_color);
}

@media (width >= 600px) {
  body {
    max-width: 1000px;
  }
}
